<!-- Section: Service Edit -->
<section id="service-edit" class="section section-add grey lighten-3">

    <!-- back -->
    <i id="btn-back" class="material-icons grey-text" style="padding-left: 10px; font-size: 2.2rem; cursor: pointer;">arrow_back</i>

    <div class="container">
        <div class="row">
            <div class="card-panel grey lighten-3">


                <!-- BLOG TITLE -->
                <div class="row">
                    <div class="input-field" style="display:table; width: 100%">
                        <input id="blog-title" type="text" value="<%-blog.ProductForm[0].blogTitle%>">
                        <label for="blog-title">Tiêu đề</label>
                        <span style="display: table-cell;">
                            <a id="btn-blog-title" class="btn-small gone">Lưu</a>
                        </span>
                    </div>
                </div>

                <!-- BLOG DESCRIPTION -->
                <div class="row">
                    <div class="input-field" style="display:table; width: 100%">
                        <input id="blog-description" type="text" value="<%-blog.ProductForm[0].blogDescription%>">
                        <label for="blog-description">Mô tả</label>
                        <span style="display: table-cell;">
                            <a id="btn-blog-description" class="btn-small gone">Lưu</a>
                        </span>
                    </div>
                </div>

                <!-- SOURCE -->
                <div class="row">
                    <div class="input-field" style="display:table; width: 100%">
                        <input id="blog-source" type="text" value="<%-blog.ProductForm[0].source%>">
                        <label for="blog-source">Nguồn</label>
                        <span style="display: table-cell;">
                            <a id="btn-blog-source" class="btn-small gone">Lưu</a>
                        </span>
                    </div>
                </div>

                <!-- IMAGE -->
                <div class="row">
                    <div class="input-field" style=" display:table; width: 100%;">
                        <%if(blog.ProductForm[0].blogImage == ""){%>
                            <div class="input-field gone image">
                                <%}else{%>
                                    <div class="input-field image">
                                        <%}%>
                                            <img id="image" src="upload/<%-blog.ProductForm[0].blogImage%>" height="60px" width="80px">
                                            <i class="material-icons hoverable red-text" style="cursor: pointer;" id="btn-delete">cancel</i>
                                    </div>
                                    <%if(blog.ProductForm[0].blogImage == ""){%>
                                        <div class="input-field file-field input-image">
                                            <%}else{%>
                                                <div class="input-field file-field gone input-image">
                                                    <%}%>
                                                        <input id="input-image" type="file" accept="image/*">
                                                        <div class="file-path-wrapper">
                                                            <input class="file-path" type="text" placeholder="Hình ảnh">
                                                        </div>
                                                </div>

                                                <span style="display: table-cell;">
                                                    <a id="btn-image-save" class="btn-small gone">Lưu</a>
                                                </span>

                                        </div>
                            </div>


                            <!-- EDITOR -->
                            <div class="file-field">
                                <p class="grey-text">Nội dung</p>
                                <textarea id="editor" name="editor"><%-blog.ProductForm[0].blogContent%></textarea>
                            </div>
                            <span style="margin-top: 10px;" id="btn-blog-content" class="btn gone">Lưu</span>
                    </div>
                </div>
            </div>
        </div>
</section>