<!-- Section: -->
<section id="dashboard.html" class="section section-add grey lighten-3">
    <div class="row">

        <div class="col s12 m4">
            <a href="admin/report/open.html">
                <div class="card-panel hoverable">
                    <i class="teal-text flow-text">Truy cập</i>
                    <h4 class="flow-text center"><%-dashboard.OpenApp.totalOpen%></h4>
                </div>
            </a>
        </div>

        <div class="col s12 m4">
            <a href="admin/report/signup.html">
                <div class="card-panel hoverable">
                    <i class="teal-text flow-text">Đăng ký</i>
                    <h4 class="flow-text center"><%-dashboard.Signup.totalNewUser%></h4>
                </div>
            </a>
        </div>

        <div class="col s12 m4">
            <a href="admin/report/login.html">
                <div class="card-panel hoverable">
                    <i class="teal-text flow-text">Đăng nhập</i>
                    <h4 class="flow-text center"><%-dashboard.Login.totalLogin%></h4>
                </div>
            </a>
        </div>

    </div>

</section>

<!-- Section: -->
<section id="dashboard.html" class="section section-add grey lighten-3">
    <div class="row">

        <div class="col s12 m4">
            <a href="admin/report/transaction.html">
                <div class="card-panel hoverable">
                    <i class="teal-text flow-text">Giao dịch</i>
                    <h4 class="flow-text center"><%-dashboard.Transaction.totalTransaction%></h4>
                </div>
            </a>
        </div>

        <div class="col s12 m4">
            <a href="admin/report/revenue.html">
                <div class="card-panel hoverable">
                    <i class="teal-text flow-text">Doanh thu</i>
                    <%if (dashboard.Revenue.totalRevenue == null){%>
                    <h4 class="flow-text center">0</h4>
                    <%}else{%>
                        <h4 class="flow-text center"><%-dashboard.Revenue.totalRevenue.toLocaleString()%></h4>
                        <%}%>
                </div>
            </a>
        </div>

        <div class="col s12 m4">
            <a href="admin/report/profit.html">
                <div class="card-panel hoverable">
                    <i class="teal-text flow-text">Lợi nhuận</i>
                    <%if (dashboard.Revenue.totalRevenue == null || dashboard.Revenue.totalBuy == null){%>
                        <h4 class="flow-text center">0</h4>
                        <%}else{%>
                            <h4 class="flow-text center"><%-(dashboard.Revenue.totalRevenue - dashboard.Revenue.totalBuy).toLocaleString()%></h4>
                            <%}%>
                </div>
            </a>
        </div>

    </div>

</section>