<!-- Section: Service Edit -->
<section id="service-edit" class="section section-add grey lighten-3">

    <!-- back -->
    <i id="btn-back" class="material-icons grey-text" style="padding-left: 10px; font-size: 2.2rem; cursor: pointer;">arrow_back</i>

    <div class="container">
        <div class="row">
            <div class="card-panel grey lighten-3">


                <!-- TITLE -->
                <div class="row">
                    <div class="input-field" style="display:table; width: 100%">
                        <input id="banner-title" type="text" value="<%-event.ProductForm[0].eventTitle%>">
                        <label for="banner-title">Tiêu đề</label>
                        <span style="display: table-cell;">
                            <a id="btn-banner-title" class="btn-small gone">Lưu</a>
                        </span>
                    </div>
                </div>

                   <!-- BANNER START -->
                <div class="row">
                        <div class="input-field" style="display:table; width: 100%">
                            <input class="datepicker" id="banner-start" type="text" value="<%- new Date(event.ProductForm[0].start).getDate() + "-" + (new Date(event.ProductForm[0].start).getMonth() + 1) + "-" + new Date(event.ProductForm[0].start).getFullYear()%>">
                            <label for="banner-start">Thời gian bắt đầu</label>
                            <span style="display: table-cell;">
                                <a id="btn-banner-start" class="btn-small gone">Lưu</a>
                            </span>
                        </div>
                    </div>
    
                    <!-- BANNER END -->
                    <div class="row">
                        <div class="input-field" style="display:table; width: 100%">
                            <input class="datepicker" id="banner-end" type="text" value="<%- new Date(event.ProductForm[0].end).getDate() + "-" + (new Date(event.ProductForm[0].end).getMonth() + 1) + "-" + new Date(event.ProductForm[0].end).getFullYear()%>">
                            <label for="banner-end">Thời gian kết thúc</label>
                            <span style="display: table-cell;">
                                <a id="btn-banner-end" class="btn-small gone">Lưu</a>
                            </span>
                        </div>
                    </div>

                <!-- IMAGE -->
                <div class="row">
                    <div class="input-field" style=" display:table; width: 100%;">
                        <span style="display: table-cell; padding-right: 10px;">
                            <div style="font-size: 15px; display:table;">
                                <span style="display: table-cell;padding-right: 10px;">
                                    <%if(event.ProductForm[0].eventImage == ""){%>
                                        <div class="input-field gone image">
                                            <%}else{%>
                                                <div class="input-field image">
                                                    <%}%>
                                                        <img id="image" src="upload/<%-event.ProductForm[0].eventImage%>" height="60px" width="80px">
                                                        <i class="material-icons hoverable red-text" style="cursor: pointer;" id="btn-delete">cancel</i>
                                                </div>
                                                <%if(event.ProductForm[0].eventImage == ""){%>
                                                    <div class="input-field file-field input-image">
                                                        <%}else{%>
                                                            <div class="input-field file-field gone input-image">
                                                                <%}%>
                                                                    <input id="input-image" type="file" accept="image/*">
                                                                    <div class="file-path-wrapper">
                                                                        <input class="file-path" type="text" placeholder="Hình ảnh">
                                                                    </div>
                                                            </div>
                                </span>
                                <span style="display: table-cell;">
                                    <a id="btn-image-save" class="btn-small gone">Lưu</a>
                                </span>
                                </div>
                        </span>
                        </div>
                  
                

                <!-- DESCRIPTION -->
                <div class="file-field margin-top-20">
                    <p class="grey-text">Nội dung</p>
                    <textarea id="editor" name="editor"><%-event.ProductForm[0].eventContent%></textarea>
                </div>
                <span style="margin-top: 10px;" id="btn-service-content" class="btn gone">Lưu</span>

            </div>
        </div>
    </div>
</section>