<!-- Section: Service -->
<section id="service.html" class="section">
    <div class="row">

        <table class="highlight centered flow-text" id="table-service">
            <thead>
                <tr>
                    <th style="font-size: 1.1rem">ID</th>
                    <th style="font-size: 1.1rem">Tiêu đề</th>
                    <th style="font-size: 1.1rem">Nội dung</th>
                    <th style="font-size: 1.1rem">Hình ảnh</th>
                    <th style="font-size: 1.1rem">Active</th>

                    <th></th>
                </tr>
            </thead>

            <tbody>
                <%event.ProductForm.forEach(function(item, index){%>
                    <tr style="font-size: 1.1rem">

                        <!-- ID -->
                        <td>
                            <a href="admin/event/edit-event/id:<%-item.eventId%>.html" style="cursor: pointer;">
                                <%-item.eventId%>
                            </a>
                        </td>

                        <!-- Title -->
                        <td>
                            <a href="admin/event/edit-event/id:<%-item.eventId%>.html" class="underline-on-hover black-text">
                                <%-item.eventTitle%>
                            </a>
                        </td>

                        <!-- Content -->
                        <td>
                            <a href="admin/event/edit-event/id:<%-item.eventId%>.html" class="underline-on-hover black-text">
                                <%-item.eventContent%>
                            </a>
                        </td>

                        <!-- Image -->
                        <td>
                            <a href="admin/event/edit-event/id:<%-item.eventId%>.html" class="underline-on-hover black-text">
                                <img src="upload/<%-item.eventImage%>" width="50px">
                            </a>
                        </td>

                        <!-- Active -->
                        <td>
                            <%if(item.active ==0 ){%>
                                <span class="red-text underline-on-hover btn-active btn-active<%-item.eventId%>" data-href="<%-item.eventId%>">Ẩn
                                    <%}else{%>
                                        <span class="blue-text underline-on-hover btn-active btn-active<%-item.eventId%>" data-href="<%-item.eventId%>">Hiện
                                            <%}%>
                                        </span>
                        </td>
                    </tr>
                    <%})%>
            </tbody>

        </table>

    </div>
</section>