<script src="js/jquery.lazyload.min.js"></script>
<script>
    // Sidenav
    const sideNav = document.querySelector('.sidenav');
    M.Sidenav.init(sideNav, {});

    //Carousel
    $('.carousel.carousel-slider').carousel({
        dist: 1, fullWidth: true, indicators: false
    });
    var flag = true;
    $(document).on('touchstart click', '.prev', function () {
        if (flag) {
            flag = false;
            setTimeout(function () {
                $('.carousel').carousel('prev');
                flag = true;
            }, 300);
        }
    });

    $(document).on('touchstart click', '.next', function () {
        if (flag) {
            flag = false;
            setTimeout(function () {
                $('.carousel').carousel('next');
                flag = true;
            }, 300);
        }
    });
</script>

<script>
    //Sell
    var priceSell = Number('<%-product.ProductForm.sell%>');
    $('#price-sell').text(priceSell.toLocaleString('it-IT', { style: 'currency', currency: 'VND' }));

    //Discount
    var discount = Number('<%-product.ProductForm.promotionDiscount%>');
    var flashsale = Number('<%-product.ProductForm.flashsaleDiscount%>');

    //Percent Discount
    if (discount > 0 || flashsale > 0)
        $('#percent-discount').text("-" + (discount + flashsale) + "%");

    var priceDiscount = ((priceSell * discount) / 100) + ((priceSell * flashsale) / 100);
    $('#price-discount').text(priceDiscount.toLocaleString('it-IT', { style: 'currency', currency: 'VND' }));

    //Ship
    var priceShip = Number('<%-product.ProductForm.shipValue%>');
    $('#price-ship').text(priceShip.toLocaleString('it-IT', { style: 'currency', currency: 'VND' }));

    //Total
    var priceTotal = priceSell - priceDiscount + priceShip;
    if (priceTotal <= 0)
        priceTotal = priceShip;
    var priceTemp = priceTotal;
    $('#price-total').text(priceTotal.toLocaleString('it-IT', { style: 'currency', currency: 'VND' }));

    //Voucher Click
    $('#btn-voucher').on('click', function () {
        var key = $('#voucher-code').val();
        if (key == "") {
            return alert('Vui lòng nhập mã giảm giá.');
        }

        var keyVoucher = '<%-product.ProductForm.voucherName%>';
        if (keyVoucher == null || keyVoucher == "") {
            return alert('Sản phẩm này không áp dụng mã giảm giá.');
        }

        if (key != keyVoucher && $('#btn-voucher').text() == "Áp dụng") {
            return alert('Mã giảm giá không hợp lệ.');
        } else {
            if ($('#btn-voucher').text() == "Hủy") {
                //Cancel Voucher
                $('#btn-voucher').text('Áp dụng');
                $("#voucher-code").val('');
                $("#voucher-code").attr("disabled", false);
                priceTotal = priceTemp;
            } else {
                //Apply Voucher
                var voucherValue = Number('<%-product.ProductForm.voucherValue%>');
                voucherValue = (priceSell * voucherValue) / 100;
                $('#btn-voucher').text('Hủy');
                $("#voucher-code").val(voucherValue.toLocaleString('it-IT', { style: 'currency', currency: 'VND' }));
                $("#voucher-code").attr("disabled", true);
                priceTotal = priceTemp - voucherValue;
            }

            $('#price-total').text(priceTotal.toLocaleString('it-IT', { style: 'currency', currency: 'VND' }));
        }
    });

    //Rate Click
    var isRate = true;
    $('#btn-rate').on('click', function () {
        if (isRate) {
            isRate = false;
            findRaiting('<%=product.ProductForm.productId%>', 0, 100);
        }
    });
    //Comment Click
    var isComment = true;
    $('#btn-comment').on('click', function () {
        if (isComment) {
            isComment = false;
            findComment('<%=product.ProductForm.productId%>', 0, 100);
        }
    });


    // Find Rating
    function findRaiting(productId, offset, limit) {
        $.ajax({
            method: "GET",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "api/findRating?productId=" + productId + "&offset=" + offset + "&limit=" + limit,
            success: function success(data) {
                var output = "";
                output += '<li class="collection-item center grey lighten-3">';
                var rateValue = Number('<%=product.ProductForm.rateValue%>');
                var rateTotal = Number('<%=product.ProductForm.rateTotal%>');

                var rate = Math.floor(rateValue / rateTotal);
                var half = rateValue % rateTotal;
                if (rateTotal == null || rateTotal == 0) {
                    half = 0;
                    rate = 0;
                    rateTotal = 0;
                }

                // Title
                output += '<p>';
                output += '<h6 class="text-small grey-text">Đánh giá trung bình</h6>';
                output += '</p>';
                // Value
                if (rateTotal > 0) {
                    output += '<p>';
                    output += '<h3 class="text-small red-text">' + (rateValue / rateTotal) + "/" + rateTotal + '</h3>';
                    output += '</p>';
                }
                // Start
                for (i = 0; i < rate; i++) {
                    output += '<i class="material-icons small yellow-text text-darken-2">star</i>';
                }

                if (half > 0) {
                    half = 1;
                    output += '<i class="material-icons small yellow-text text-darken-2">star_half</i>';
                }

                for (i = 0; i < 5 - (rate + half); i++) {
                    output += '<i class="material-icons small grey-text text-darken-2">star</i>';
                }
                // Total
                output += '<p>';
                output += '<span class="text-small teal-text">(' + rateTotal + ' nhận xét)</span>';
                output += '</p>';

                output += '</li>';

                $.each(data, function (i, value) {
                    value.forEach(function (entry) {

                        //Check already rating
                        if (entry.userId == '<%-userId%>') {
                            $('#box-rating').hide();
                        }

                        output += '<li class="collection-item avatar grey lighten-3">';
                        //Avatar
                        output += '<img class="circle" src="' + LetterAvatar(entry.nickname, 60) + '">';
                        //Nickname
                        output += '<span class="title" style = "font-weight: bold;">' + entry.nickname + '</span>';
                        //Question
                        output += '<p>' + entry.rateQuestion;
                        //Answer
                        if (entry.rateAnswer == "") {
                            output += '<br>';
                        } else {
                            output += '<br> <span style = "font-weight: bold;">Admin: </span>' + entry.rateAnswer;
                        }
                        //Date
                        output += '<p class="grey-text" style="text-align: right">' + entry.date.substring(0, 10) + '</p>';
                        output += '</p>';
                        //Star
                        output += '<a class="secondary-content">';
                        // Start
                        var rates = entry.rate;
                        for (i = 0; i < rates; i++) {
                            output += '<i class="material-icons tiny yellow-text text-darken-2">star</i>';
                        }

                        for (i = 0; i < 5 - rates; i++) {
                            output += '<i class="material-icons tiny grey-text text-darken-2">star</i>';
                        }
                        output += '</a>';
                        output += '</li>';

                    });
                    $('#rate-item').append(output);
                });
            }
        });
    }

    // Find Comment
    function findComment(productId, offset, limit) {
        $.ajax({
            method: "GET",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "api/findComment?productId=" + productId + "&offset=" + offset + "&limit=" + limit,
            success: function success(data) {
                var output = "";
                $.each(data, function (i, value) {
                    value.forEach(function (entry) {
                        output += '<li class="collection-item avatar grey lighten-3">';
                        //Avatar
                        output += '<img class="circle" src="' + LetterAvatar(entry.nickname, 60) + '">';
                        //Nickname
                        output += '<span class="title" style = "font-weight: bold;">' + entry.nickname + '</span>';
                        //Question
                        output += '<p>' + entry.commentQuestion;
                        //Answer
                        if (entry.commentAnswer == "") {
                            output += '<br>';
                        } else {
                            output += '<br> <span style = "font-weight: bold;">Admin: </span>' + entry.commentAnswer;
                        }
                        output += '</p>';

                        //Date
                        output += '<a class="secondary-content">';
                        //Date
                        output += '<p class="grey-text" style="text-align: right">' + entry.date.substring(0, 10) + '</p>';
                        output += '</a>';


                        output += '</li>';
                    });

                    $('#comment-item').append(output);
                });
            }
        });
    }

</script>


<!-- Modal -->
<script>
    $('.modal').modal();

    //Star Click
    var star = 0;
    $('#star1').on('click', function () {
        star = 5;
    });
    $('#star2').on('click', function () {
        star = 4;
    });
    $('#star3').on('click', function () {
        star = 3;
    });
    $('#star4').on('click', function () {
        star = 2;
    });
    $('#star5').on('click', function () {
        star = 1;
    });

    var uId = '<%-userId%>';
    //Rate Click
    $('#btn-new-rate').on('click', function () {
        if (uId == 1) {
            $('#modal-request-login').modal('open');
        } else {
            //Send to Server
            var content = $('#rate-content').val();
            if (star == 0) {
                return alert('Bạn chưa đánh giá.');
            }
            if (content == "") {
                return alert('Vui lòng nhập nhận xét');
            }
            //Send to Server
            $('#btn-new-rate').hide();
            insertRating(content, uId);
        }
    });

    //Comment Click
    $('#btn-new-comment').on('click', function () {
        if (uId == 1) {
            $('#modal-request-login').modal('open');
        } else {
            var content = $('#comment-content').val();
            if (content == "") {
                return alert('Bạn chưa đặt câu hỏi.');
            }
            //Send to Server
            $('#box-comment').hide();
            insertComment(content, uId);
        }
    });

    //Rating
    function insertRating(content, userId) {
        $.ajax({
            method: "POST",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "api/insertRating",
            data: {
                rateId: '<%=product.ProductForm.productId%>', //productId
                userId: userId,
                question: content, //Content
                rate: star  //Rate
            },
            success: function success(data) {
                var result = "";
                $.each(data, function (i, value) {
                    result = value.insert;
                });
                if (result == 1) {
                    $('#rate-item').empty();
                    findRaiting('<%=product.ProductForm.productId%>', 0, 100);
                }
            }
        });
    }

    //Commnet
    function insertComment(content, userId) {
        $.ajax({
            method: "POST",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "api/insertComment",
            data: {
                commentId: '<%=product.ProductForm.productId%>', //productId
                userId: userId,
                question: content //Content
            },
            success: function success(data) {
                var result = "";
                $.each(data, function (i, value) {
                    result = value.insert;
                });
                if (result == 1) {
                    $('#comment-item').empty();
                    findComment('<%=product.ProductForm.productId%>', 0, 100);
                }
            }
        });
    }
</script>

<!-- Same Product -->
<script>
    var limit = 12;
    var offset = 0;
    var search = '~<%-product.ProductForm.categoryId%>~';
    loadData(offset, limit, search);
    $('#load-more').on('click', function () {
        loadData(offset, limit, search);
    });
    function loadData(_offset, _limit, _filter) {
        $('#load-more').hide();
        $.ajax({
            method: "GET",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "api/findAllProduct?filter=" + _filter + "&offset=" + _offset + "&limit=" + _limit,
            success: function success(data) {
                var count = 0;

                $.each(data, function (i, value) {

                    if (_offset == 0) {
                        if (value == "") {
                            var output = "";
                            output += '<h5 class="center flow-text" style="margin-top:10%;">';
                            output += ' <span class="grey-text">Không tìm thấy kết quả phù hợp.</span>';
                            output += ' <p class="grey-text">Vui lòng thử lại.</p>';
                            output += '</h5>';
                            $('#all-product').append(output);
                        }
                    }
                    value.forEach(function (entry) {
                        count++;
                        var output = "";

                        var productId = entry.productId;
                        var productName = entry.productName;
                        var sell = entry.sell;
                        var discount = entry.promotionDiscount;
                        var image1 = entry.image1;
                        var likeTotal = entry.likeTotal;
                        var rateTotal = entry.rateTotal;
                        var rateValue = entry.rateValue;
                        var commentTotal = entry.commentTotal;
                        var superSale = entry.flashsaleDiscount;
                        var point = entry.pointValue;
                        var ship = entry.shipValue;

                        //New Product
                        var newProduct = 0;
                        var time = new Date(entry.time);
                        time.setDate(time.getDate() + 7);
                        var now = new Date();
                        if (Math.floor(time - now) > 0)
                            newProduct = 1;


                        output += '<div class="col s12 m4">';
                        output += '<a href="/site/detail/sn:' + productId + '.html">';
                        output += '<div class="card hoverable">';

                        output += '<div class="card-image">'; //Start card Image
                        // Image
                        output += '<img class="lazy" data-original="upload/' + image1 + '">';
                        //output += '<img src="upload/' + image1 + '">';

                        //Discount
                        if (discount > 0 && superSale > 0) {
                            output += '<div class="label-discount-bottom-left">';
                            output += '<span>-' + discount + '%</span>';
                            output += '<span class="label-discount-bottom-left-1">-' + superSale + '%</span>';
                            output += '</div>';
                        } else if (discount > 0 && superSale <= 0) {
                            output += '<div class="label-discount-bottom-left">';
                            output += '<span>-' + discount + '%</span>';
                            output += '</div>';
                        } else if (discount <= 0 && superSale > 0) {
                            output += '<span class="label-discount-bottom-left-2">-' + superSale + '%</span>';
                        }

                        //Point
                        if (point == 5)
                            output += '<span class="label-discount-bottom-right circles"><img src="img/point5.png" height="40px;"></span>';
                        else if (point == 10)
                            output += '<span class="label-discount-bottom-right circles"><img src="img/point10.png" height="40px;"></span>';
                        else if (point == 20)
                            output += '<span class="label-discount-bottom-right circles"><img src="img/point20.png" height="40px;"></span>';
                        else if (point == 30)
                            output += '<span class="label-discount-bottom-right circles"><img src="img/point30.png" height="40px;"></span>';
                        else if (point == 40)
                            output += '<span class="label-discount-bottom-right circles"><img src="img/point40.png" height="40px;"></span>';
                        else if (point == 50)
                            output += '<span class="label-discount-bottom-right circles"><img src="img/point50.png" height="40px;"></span>';


                        //New product
                        if (newProduct > 0) {
                            output += '<span class="label-discount-top-left">';
                            output += '<img src="img/new.png">';
                            output += '</span>';
                        }
                        output += '</div>'; //End card Image

                        output += '<div class="card-content">'; //Start card content
                        // Title
                        output += '<h6 class="teal-text ellipsis">' + productName + '</h6>';

                        // Price
                        output += '<div class="red-text">';
                        //Price Original
                        if (discount > 0 || superSale > 0) {
                            var priceOld = sell;
                            output += '<span class="teal-text line-through" style="font-size: 70%; margin-right: 5px;">' + priceOld + '</span>';
                        }
                        //Price Discount
                        var priceNew = sell - ((sell * discount) / 100) - ((sell * superSale) / 100);
                        if (priceNew < 0)
                            priceNew = 0;
                        output += priceNew.toLocaleString('it-IT', { style: 'currency', currency: 'VND' });
                        output += '</div>';

                        // Rating
                        output += '<div class="">';

                        var star = Math.floor(rateValue / rateTotal);
                        var half = rateValue % rateTotal;
                        if (rateTotal == null || rateTotal == 0) {
                            half = 0;
                            star = 0;
                            rateTotal = 0;
                        }
                        for (i = 0; i < star; i++) {

                            output += '<i class="material-icons yellow-text text-darken-2 icon-small">star</i>';

                        }

                        if (half > 0) {
                            half = 1;
                            output += '<i class="material-icons yellow-text text-darken-2 icon-small">star_half</i>';

                        }

                        for (i = 0; i < 5 - (star + half); i++) {

                            output += '<i class="material-icons grey-text text-darken-2 icon-small">star</i>';

                        }


                        //Comment
                        output += '<a class="text-small" style="margin-top: 3px">(' + rateTotal + 'nhận xét)</a>';
                        output += '</div>';
                        output += '</div>';
                        output += '</div>';
                        output += '</a>';
                        output += '</div>';

                        $('#all-product').append(output);

                    });
                });

                //Check exist product
                if (count === limit) {
                    $('#load-more').show();
                }
                //Set Offset
                offset += count;

                //Lazy load
                $("img.lazy").lazyload();

            }
        });
    }
</script>

<!-- Shoping cart -->
<script>
    //Check Amount
    var amountBuy = '<%-product.ProductForm.amountBuy%>';
    var amountSell = '<%-product.ProductForm.amountSell%>';
    var amount = amountBuy - amountSell;
    if (amount <= 0) {
        $('#btn-buy-now').text('Tạm hết');
        $('#btn-buy-now').attr("disabled", true);
    }
    $('#btn-buy-now').on('click', function () {
        saveShoppingCartItem();
    });

    function saveShoppingCartItem() {
        var item = {
            productId: '<%-product.ProductForm.productId%>',
            productName: '<%-product.ProductForm.productName%>',
            productImage: '<%-product.ProductForm.image1%>',
            productPrice: priceTotal,
            productTotalFee: 0,
            productAmount: 1,
            productMaxAmount: amount,
            status: 0,
            promotionId: '<%-product.ProductForm.promotionId%>',
            flashsaleId: '<%-product.ProductForm.flashsaleId%>',
            voucherId: '<%-product.ProductForm.voucherId%>',
            pointId: '<%-product.ProductForm.pointId%>',
            pointUse: 0,
            giftId: 0
        }

        var exists = false;
        if (shoppingCartItem.length > 0) {
            $.each(shoppingCartItem, function (index, value) {
                if (value.productId == item.productId) {
                    value.productAmount++;
                    if (value.productAmount > value.productMaxAmount)
                        value.productAmount--;
                    exists = true;
                    return false;
                }
            });
        }

        if (!exists) {
            shoppingCartItem.push(item);
        }

        sessionStorage["shopping-cart-items"] = JSON.stringify(shoppingCartItem);
    }

</script>

<!-- Update History -->
<script>
    if ('<%-userId%>' > 1) {
        insertViewHistory();
    }

    function insertViewHistory() {
        $.ajax({
            method: "POST",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "api/insertViewHistory",
            data: {
                userId: '<%-userId%>',
                productId: '<%-product.ProductForm.productId%>'
            },
            success: function success(data) {
                var result = "";
                $.each(data, function (i, value) {
                    result = value.update;
                });
                // if (result == 1) {
                //     alert("Cập nhật thành công.");
                // } else {
                //     alert("Cập nhật thất bại.");
                // }
            }
        });
    }
</script>

<!-- Image Full Screen -->
<script>
    $('#image1').on('click', function () {
        var img = '<img class="responsive-img" src="upload/<%=product.ProductForm.image1%>">';
        $('#modal-image').empty();
        $('#modal-image').append(img);
        $('#modal-image').modal('open');
    });

    $('#image2').on('click', function () {
        var img = '<img class="responsive-img" src="upload/<%=product.ProductForm.image2%>">';
        $('#modal-image').empty();
        $('#modal-image').append(img);
        $('#modal-image').modal('open');
    });

    $('#image3').on('click', function () {
        var img = '<img class="responsive-img" src="upload/<%=product.ProductForm.image3%>">';
        $('#modal-image').empty();
        $('#modal-image').append(img);
        $('#modal-image').modal('open');
    });

    $('#image4').on('click', function () {
        var img = '<img class="responsive-img" src="upload/<%=product.ProductForm.image4%>">';
        $('#modal-image').empty();
        $('#modal-image').append(img);
        $('#modal-image').modal('open');
    });

    $('#image5').on('click', function () {
        var img = '<img class="responsive-img" src="upload/<%=product.ProductForm.image5%>">';
        $('#modal-image').empty();
        $('#modal-image').append(img);
        $('#modal-image').modal('open');
    });
</script>