<script>
    // Sidenav
    const sideNav = document.querySelector('.sidenav');
    M.Sidenav.init(sideNav, {});

    //Get Session
    var shoppingCartItem = [];
    $(document).ready(function () {
        displayShoppingCartItem();
        //insertOders();
        //saveShoppingCartItem();
    });

    function updatePriceTotalFee(total) {
        for (var i = 0; i < shoppingCartItem.length; i++) {
            shoppingCartItem[i].productTotalFee = total;
        }
    }

    function updatePointUse(point) {
        for (var i = 0; i < shoppingCartItem.length; i++) {
            shoppingCartItem[i].pointUse = point;
        }
    }

    function updateGift(giftId) {
        for (var i = 0; i < shoppingCartItem.length; i++) {
            shoppingCartItem[i].giftId = giftId;
        }
    }

    function updateUpShoppingCartItem(index) {
        shoppingCartItem[index].productAmount++;
        if (shoppingCartItem[index].productAmount > shoppingCartItem[index].productMaxAmount)
            shoppingCartItem[index].productAmount--;
        sessionStorage["shopping-cart-items"] = JSON.stringify(shoppingCartItem);
        displayShoppingCartItem();
    }

    function updateDownShoppingCartItem(index) {
        shoppingCartItem[index].productAmount--;
        if (shoppingCartItem[index].productAmount < 0)
            shoppingCartItem[index].productAmount = 0;
        sessionStorage["shopping-cart-items"] = JSON.stringify(shoppingCartItem);
        displayShoppingCartItem();
    }

    function removeShoppingCartItem(index) {
        shoppingCartItem.splice(index, 1);
        sessionStorage["shopping-cart-items"] = JSON.stringify(shoppingCartItem);
        displayShoppingCartItem();
    }

    function saveShoppingCartItem() {
        var item = {
            productId: '3204',
            productName: 'Demo Test',
            productImage: 'resort2.jpg',
            productTotalFee: 10,
            productAmount: 1,
            productMaxAmount: 2

            //userId, promotionId, voucherId, point
        }

        var exists = false;
        if (shoppingCartItem.lenght > 0) {
            $.each(shoppingCartItem, function (index, value) {
                if (value.productId == item.productId) {
                    value.productAmount++;
                    if (value.productAmount > value.productMaxAmount)
                        value.productAmount--;
                    exists = true;
                    return false;
                }
            });
        }

        if (!exists) {
            shoppingCartItem.push(item);
            shoppingCartItem.push(item);
        }

        sessionStorage["shopping-cart-items"] = JSON.stringify(shoppingCartItem);
        displayShoppingCartItem();
    }

    function displayShoppingCartItem() {
        if (sessionStorage["shopping-cart-items"] != null) {
            shoppingCartItem = JSON.parse(sessionStorage["shopping-cart-items"].toString());

            $("#table-product > tbody").html("");

            $.each(shoppingCartItem, function (index, item) {
                var output = "";
                output += '<tr style="font-size: 1.0rem">';
                output += '<td><img src="upload/' + item.productImage + '"height="40px"></td>';
                output += '<td>' + item.productName + '</td>';
                var price = item.productPrice;
                price = price.toLocaleString('it-IT', { style: 'currency', currency: 'VND' });
                output += '<td>' + price + '</td>';
                output += '<td>';
                output += '<div class="row">';
                output += '<div class="col s12 m5">';
                output += '<a class="btn-small btn-down" data-href="' + index + '"> - </a>';
                output += '</div>';
                output += '<div class="col s12 m2">';
                output += '<a>' + item.productAmount + '</a>';
                output += '</div>';
                output += '<div class="col s12 m5">';
                output += '<a class="btn-small btn-up" data-href="' + index + '"> + </a>';
                output += '</div>';
                output += '</div>';
                output += '</td>';
                output += '<td><i class="material-icons hoverable red-text btn-clear" data-href="' + index + '" style="cursor: pointer;">cancel</i></td>';
                output += '</tr>';

                $('#table-product > tbody:last').append(output);
            });

            //Add Discount
            if ('<%-userId%>' > 1) {
                var discount = "";
                discount += '<tr style="font-size: 1.0rem">';
                discount += '<td></td>';
                discount += '<td>Khuyến mãi:</td>';

                discount += '<td>';
                discount += '<div class="input-field center">';
                discount += '<input class="center" id="discount-code" placeholder="Mã khuyến mãi" maxlength="10" type="text">';
                discount += '</div>';
                discount += '</td>';

                discount += '<td><a id="btn-discount-code" class="btn" style="font-size:0.6rem;">Áp dụng</a></td>';
                discount += '<td></td>';
                discount += '</tr>';
                $('#table-product > tbody:last').append(discount);
            }

            //Calculate Fee
            var totalFee = 0;
            $.each(shoppingCartItem, function (index, item) {
                totalFee += item.productPrice * item.productAmount
            });
            var totalFeeTemp = totalFee;

            updatePriceTotalFee(totalFee);

            var total = "";
            total += '<tr style="font-size: 1.0rem">';
            total += '<td></td>';
            total += '<td class="teal-text">Tổng Cộng:</td>';
            total += '<td class="red-text" id="totalFee">' + totalFee.toLocaleString('it-IT', { style: 'currency', currency: 'VND' }) + '</td>';
            total += '<td></td>';
            total += '<td></td>';
            total += '</tr>';

            $('#table-product > tbody:last').append(total);
            //Set Bage
            $('#bage-cart').empty().text('(' + shoppingCartItem.length + ')');
            if (shoppingCartItem.length <= 0)
                $('#bage-cart').empty();
        } else {
            //Cart Emty
            $('#table-product').hide();
            $('#cart-title').text('Giỏ hàng của bạn đang trống.');
            //Set Bage
            $('#bage-cart').empty();
            $('#btn-finish').hide();
        }

        //Clear
        $('.btn-clear').on('click', function () {
            var index = $(this).data("href");
            removeShoppingCartItem(index);
        });

        //Down
        $('.btn-down').on('click', function () {
            var index = $(this).data("href");
            updateDownShoppingCartItem(index);
        });

        //Up
        $('.btn-up').on('click', function () {
            var index = $(this).data("href");
            updateUpShoppingCartItem(index);
        });

        $('#btn-discount-code').on('click', function () {
            if ($('#btn-discount-code').text() != 'Hủy') {
                //Apply
                var code = $('#discount-code').val();
                if (code != "") {
                    var key = code.substring(0, 2);
                    if (key == 'D-') {
                        //Point
                        var point = Number(code.substring(2, code.lenght));
                        //Check point Even number
                        if (point % 5 == 0) {
                            if ('<%-point%>' >= point) {
                                //Set Button
                                $('#btn-discount-code').text('Hủy');
                                //Set Text
                                updatePointUse(point);
                                point = point * 1000;
                                $('#discount-code').val(point.toLocaleString('it-IT', { style: 'currency', currency: 'VND' }));
                                $("#discount-code").attr("disabled", true);

                                //Set TotalFee
                                totalFee = totalFee - point;
                                updatePriceTotalFee(totalFee);
                                $('#totalFee').text(totalFee.toLocaleString('it-IT', { style: 'currency', currency: 'VND' }));
                            } else {
                                alert('Điểm tích lũy của bạn không đủ để sủ dụng');
                            }
                        } else {
                            alert('Điểm của bạn phải là bội số của 5. {5, 10, 15, 20,...}');
                        }
                    }
                    if (key == 'Q-') {
                        //Gift
                        if ('<%-giftName%>' == '' || '<%-giftName%>' == null) {
                            return alert('Bạn không có thẻ giảm giá nào.');
                        }
                        var giftCode = code;
                        if ('<%-giftName%>' == giftCode) {
                            if ('<%-giftApplied%>' == 0) {
                                return alert('Mã giảm giá này chưa được kích hoạt');
                            }

                            if ('<%-giftApplied%>' == 2) {
                                return alert('Mã giảm giá này đã được sử dụng rồi.');
                            }

                            if ('<%-giftApplied%>' == 3) {
                                return alert('Mã giảm giá này đã hết hạn sử dụng.');
                            }

                            if ('<%-giftApplied%>' == 1) {
                                //Set Button
                                $('#btn-discount-code').text('Hủy');
                                updateGift('<%-giftId%>');
                                var giftValue = (totalFee * '<%-giftValue%>') / 100;
                                //Set Text Discount
                                $('#discount-code').val(giftValue.toLocaleString('it-IT', { style: 'currency', currency: 'VND' }));
                                $("#discount-code").attr("disabled", true);

                                //Set TotalFee
                                totalFee = totalFee - giftValue;
                                updatePriceTotalFee(totalFee);
                                $('#totalFee').text(totalFee.toLocaleString('it-IT', { style: 'currency', currency: 'VND' }));
                            }

                        } else {
                            alert('Mã giảm giá không hợp lệ.');
                        }

                    }
                }
            } else {
                //Cancel
                totalFee = totalFeeTemp;
                updatePriceTotalFee(totalFee);
                updatePointUse(0);
                updateGift(0);
                $('#btn-discount-code').text('Áp dụng');
                $('#discount-code').val('');
                $("#discount-code").attr("disabled", false);
                $('#totalFee').text(totalFee.toLocaleString('it-IT', { style: 'currency', currency: 'VND' }));
            }
        });
    }

    function clearShoppingCartItem() {
        sessionStorage.clear();
        displayShoppingCartItem();
    }

</script>

<!-- BUY -->
<script>
    $("#receiver-phone").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl/cmd+A
            (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: Ctrl/cmd+C
            (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: Ctrl/cmd+X
            (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
            // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });

    function phoneIsValid(phone) {
        var flag = false;
        if (phone != '') {
            var firstNumber = phone.substring(0, 2);
            if ((firstNumber == '09' || firstNumber == '08') && phone.length == 10) {
                if (phone.match(/^\d{10}/)) {
                    flag = true;
                }
            } else if (firstNumber == '01' && phone.length == 11) {
                if (phone.match(/^\d{11}/)) {
                    flag = true;
                }
            }
        }
        return flag;
    }

    $('#btn-finish').on('click', function () {
        if ($('#receiver-names').val() == "")
            return alert('Vui lòng nhập tên người nhận');
        if ($('#receiver-adrress').val() == "")
            return alert('Vui lòng nhập địa chỉ người nhận');
        if ($('#receiver-phone').val() == "")
            return alert('Vui lòng nhập số điện thoại người nhận');
        if (!phoneIsValid($("#receiver-phone").val())) {
            return alert('Vui lòng nhập đúng số điện thoại.');
        }
        var receiver = {
            receiverName: $('#receiver-names').val(),
            receiverAddress: $('#receiver-adrress').val(),
            receiverPhone: $('#receiver-phone').val(),
            receiverNote: $('#receiver-note').val(),
            receiverPayment: $('#cb-payment option:selected').val(),
            receiverLatitude: 0,
            receiverLongitude: 0,
            receiverUserId: '<%-userId%>'
        }

        shoppingCartItem.push(receiver);

        $('#btn-finish').hide();
        insertOders();

    });
    function insertOders() {
        $.ajax({
            method: "POST",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "api/insertOrders",
            data: {
                order: JSON.stringify(shoppingCartItem)
            },
            success: function success(data) {
                var result = "";
                $.each(data, function (i, value) {
                    result = value.insert;
                });
                if (result === 1) {
                    //Successfull
                    alert('Đã mua sản phẩm thành công.');
                    clearShoppingCartItem();
                } else {
                    //Fail
                    alert('Đã xảy ra lỗi!');
                }
            }
        });
    }
</script>

<!-- Find Receiver Info -->
<script>
    var uId = '<%-userId%>';
    if (uId > 1) {
        findReceiver(uId);
    }

    function findReceiver(userId) {
        $.ajax({
            method: "GET",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "api/findReceiver?userId=" + userId,
            success: function success(data) {
                $.each(data, function (i, entry) {

                    $('#receiver-names').val(entry.receiverName);
                    $('#receiver-adrress').val(entry.receiverAddress);
                    $('#receiver-phone').val(entry.receiverPhone);
                    $('#receiver-note').val(entry.receiverNote);

                });
            }
        });
    }
</script>