<!-- Section: Search -->
<div id="search.html" class="section teal darken-1 white-text center scrollspy">
    <div class="container">

        <div class="input-field">
            <input type="text" class="white grey-text autocomplete" autocomplete="off" id="search-input" placeholder="Tìm kiếm" style="text-indent: 25px">
            <label class="label-icon" for="search-input">
                <i class="material-icons teal-text">search</i>
            </label>
            <i class="material-icons" style="cursor: pointer;" onclick="openCategory()">arrow_drop_down</i>
        </div>

        <ul class="collection" id="box-category" style="border: transparent">

            <% home.Category.forEach(function(item, index){%>
                <%if(index % 2 == 0){%>
                    <div class="row">
                        <div class="col s6">
                            <li class="collection-item teal item-click hoverable" data-href="<%-item.categoryId%>" style="cursor: pointer;">
                                <%-item.categoryName%>
                            </li>
                        </div>
                        <%}else{%>
                            <div class="col s6">
                                <li class="collection-item teal item-click hoverable" data-href="<%-item.categoryId%>" style="cursor: pointer;">
                                    <%-item.categoryName%>
                                </li>
                            </div>
                    </div>

                    <%}%>

                        <%})%>

        </ul>

    </div>
</div>

<!-- Section: Banner -->
<section id="banner" class="slider">
    <ul class="slides">
        <% home.Banner.forEach(function(item){%>
            <li>
                <%if(item.productSn != ""){%>
                    <a href="/site/detail/sn:<%-item.productId%>.html">
                        <%}else{%>
                            <a>
                                <%}%>
                                    <img src="upload/<%-item.image%>">
                                    <!-- random image -->
                                    <div class="caption center-align">
                                        <h2>
                                            <%-item.title%>
                                        </h2>
                                        <h5 class="light grey-text text-lighten-3 hide-on-small-only">
                                            <%-item.content%>
                                        </h5>
                                    </div>
                            </a>
            </li>

            <%})%>


    </ul>
</section>

<!-- Section: Flash Sale -->
<%if(home.Flashsale.length > 0){%>
    <section id="flash-sale.html" class="section scrollspy" style="margin-top: -20px;">
        <div class="container">
            <div class="row">
                <h4 class="center flow-text">
                    <span class="teal-text" id="title-flash-sale">GIẢM SỐC</span>
                </h4>

                <div class="flex-container">

                    <%home.Flashsale.forEach(function(item, index){%>

                        <div class="col s12 m4">
                            <a href="/site/detail/sn:<%-item.productId%>.html">
                                <div class="card flex-item">
                                    <div class="card-image">
                                        <!-- Image -->
                                        <img src="upload/<%-item.image1%>">

                                        <!-- discount -->
                                        <%if (item.promotionDiscount > 0 && item.flashsaleDiscount > 0) {%>
                                            <div class="label-discount-bottom-left" style="font-size: 0.8rem;">
                                                <span>
                                                    -
                                                    <%-item.promotionDiscount%>%
                                                </span>
                                                <span class="label-discount-bottom-left-1" style="font-size: 0.8rem;">
                                                    -
                                                    <%-item.flashsaleDiscount%>%
                                                </span>
                                            </div>
                                            <%} else if (item.promotionDiscount > 0 && item.flashsaleDiscount <= 0) {%>
                                                <div class="label-discount-bottom-left" style="font-size: 0.8rem;">
                                                    <span>
                                                        -
                                                        <%-item.promotionDiscount%>%
                                                    </span>
                                                </div>
                                                <%} else if (item.promotionDiscount <= 0 && item.flashsaleDiscount > 0) {%>
                                                    <span class="label-discount-bottom-left-2" style="font-size: 0.8rem;">
                                                        -
                                                        <%-item.flashsaleDiscount%>%
                                                    </span>
                                                    <%}%>


                                                        <!-- point -->
                                                        <%if(item.pointValue > 0){%>
                                                            <span class="label-discount-bottom-right circle">+10Đ</span>
                                                            <%}%>


                                                                <!-- new -->
                                                                <%var time = new Date(item.time)%>
                                                                    <%time.setDate(time.getDate()+ 7)%>
                                                                        <%var now = new Date()%>
                                                                            <%if(Math.floor(time-now) > 0){%>
                                                                                <span class="label-discount-top-left">
                                                                                    <img src="img/new.png">
                                                                                </span>
                                                                                <%}%>
                                    </div>


                                    <div class="card-content">
                                        <!-- Title -->
                                        <h6 class="teal-text ellipsis">
                                            <%-item.productName%>
                                        </h6>

                                        <!-- Price -->
                                        <div class="red-text">
                                            <%if(item.promotionDiscount > 0 || item.flashsaleDiscount > 0){%>
                                                <span class="teal-text line-through" style="font-size: 70%; margin-right: 5px;">
                                                    <%-item.sell%>
                                                </span>
                                                <%}%>
                                                    <%var priceNew = item.sell - ((item.sell * item.promotionDiscount)/100) - ((item.sell * item.flashsaleDiscount)/100)%>
                                                        <%if(priceNew < 0){ priceNew = 0}%>
                                                            <%-priceNew.toLocaleString('it-IT', { style: 'currency', currency: 'VND'})%>
                                        </div>


                                        <!-- rating -->
                                        <div class="">
                                            <%var rateTotal = item.rateTotal%>
                                                <%var rateValue = item.rateValue%>
                                                    <%var rate = Math.floor(rateValue/rateTotal)%>
                                                        <%var half = rateValue%rateTotal%>
                                                            <%if(rateTotal == null || rateTotal == 0){rate = 0; half = 0; rateTotal = 0;}%>
                                                                <%for(i = 0; i < rate; i++){%>
                                                                    <i class="material-icons yellow-text text-darken-2 icon-small">star</i>
                                                                    <%}%>

                                                                        <%if(half > 0){%>
                                                                            <%half = 1%>
                                                                                <i class="material-icons yellow-text text-darken-2 icon-small">star_half</i>
                                                                                <%}%>

                                                                                    <%for(i = 0; i < 5 - (rate + half); i++){%>
                                                                                        <i class="material-icons grey-text text-darken-2 icon-small">star</i>
                                                                                        <%}%>

                                                                                            <a class="text-small" style="margin-top: 3px">(
                                                                                                <%-rateTotal%> nhận xét)</a>
                                        </div>

                                    </div>
                                </div>
                            </a>
                        </div>

                        <%})%>
                            <!-- Only item flashsale -->
                            <%if(home.Flashsale.length == 1){%>
                                <div class="col s12 m4"></div>
                                <div class="col s12 m4"></div>
                                <%}else if(home.Flashsale.length == 2){%>
                                    <div class="col s12 m4"></div>
                                    <div class="col s12 m4"></div>
                                    <%}%>
                </div>
            </div>
        </div>
    </section>
    <%}%>

        <!-- Section: Product -->
        <%if(home.Flashsale.length > 0){%>
            <section id="product.html" class="section scrollspy" style="margin-top: -50px">
                <%}else{%>
                    <section id="product.html" class="section scrollspy" style="margin-top: -20px">
                        <%}%>
                            <div class="container">
                                <div class="row">
                                    <h4 class="center flow-text">
                                        <span class="teal-text" id="title-product">TẤT CẢ SẢN PHẨM</span>
                                    </h4>

                                    <div id="all-product"></div>
                                    <!-- <div class="col s12 m4">
                <div class="card hoverable" href="site/detail/sn:7.html">
                    <div class="card-image">
                        <img src="img/resort1.jpg" alt="">
                        <div class="label-discount-bottom-left">
                            <span>100%</span>
                            <span style="background: red !important; padding: 3px">180%</span>
                        </div>
                        <span class="label-discount-bottom-right">+10point</span>
                        <span class="label-discount-top-left">
                            <img src="img/label_new.png">
                        </span>
                    </div>
                    <div class="card-content">

                        <h6 class="teal-text ellipsis">Tất cả sản phẩm do choi hop qua tang cho be yeu cua ban ket hop voi do uong tinh khiet</h6>


                        <div class="red-text">
                            <span class="teal-text line-through" style="font-size: 70%">100.000 K</span>
                            500.000 K
                        </div>


                        <div class="yellow-text text-darken-2">
                            <i class="material-icons  icon-small">star</i>
                            <i class="material-icons  icon-small">star</i>
                            <i class="material-icons  icon-small">star</i>
                            <i class="material-icons  icon-small">star</i>
                            <i class="material-icons   icon-small">star</i>
                            <a class="text-small" style="margin-top: 3px">(0 nhận xét)</a>
                        </div>

                    </div>

                </div>
            </div> -->

                                </div>

                                <div class="center">
                                    <span class="white-text btn" id="load-more">Hiển thị thêm</span>
                                </div>

                            </div>
                    </section>