<!-- Search -->
<div class="section pink darken-3 white-text center">
    <div class="container">

        <div class="input-field">
            <input type="text" class="white grey-text autocomplete" autocomplete="off" id="search-input"
                placeholder="Tìm kiếm" style="text-indent: 25px">
            <label class="label-icon" for="search-input">
                <i class="material-icons teal-text">search</i>
            </label>
            <i class="material-icons" style="cursor: pointer;" onclick="openCategory()">arrow_drop_down</i>
        </div>

        <ul class="collection" id="box-category" style="border: transparent">

            <% lstCate.forEach(function(item, index){%>
            <%if(index % 2 == 0){%>
            <div class="row">
                <div class="col s6">
                    <li class="collection-item pink accent-4 item-click hoverable" data-href="<%-item.cate%>"
                        style="cursor: pointer;">
                        <%-item.cate%>
                    </li>
                </div>
                <%}else{%>
                <div class="col s6">
                    <li class="collection-item pink accent-4 item-click hoverable" data-href="<%-item.cate%>"
                        style="cursor: pointer;">
                        <%-item.cate%>
                    </li>
                </div>
            </div>
            <%}%>
            <%})%>
        </ul>
    </div>
</div>

<!-- Product -->
<div class="row">
    <div class="de col s12 m12 l8" style="padding-bottom: 0.5rem !important;">
        <div class="video-container">
            <iframe src="//www.youtube.com/embed/<%-id%>?rel=0" frameborder="0"
                allowfullscreen></iframe>
        </div>
       
            <% lstProduct.forEach(function(item, index){%>
                <%if(item.sn == id){%>
                    <div style="padding-left: 1rem; padding-top: 1rem;"><%-item.name%></div>
                <ul class="collapsible">
                    <li>
                    <div class="collapsible-header"><span class="blue-text">THÊM THÔNG TIN</span></div>
                    <div class="collapsible-body"><span><%=item.des%></span></div>
                    </li>
                </ul>
                    <% return; %>
                <%}%>
            <%})%>

    </div>

    <div class="col s12 m12 l4">

        <% lstProduct.forEach(function(item, index){%>

        <div class="row">
            <div class="de col s6">
                <div class="card-image containers">
                    <img class="image lazy responsive-img"
                        data-original="https://img.youtube.com/vi/<%-item.sn%>/<%-item.img%>">
                    <div class="overlay">
                        <a href="/detail/?sn=<%-item.sn%>" class="icon" onclick='tracking("<%-item.sn%>", "<%-item.name%>")'>
                            <i class="medium material-icons">play_circle_filled</i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <a href="/detail/?sn=<%-item.sn%>" onclick='tracking("<%-item.sn%>", "<%-item.name%>")'>
                    <div class="content">
                        <h5 class="ellipsis black-text"><%-item.name%></h5>
                        <div class="row">
                            <div class="col s7 m8 l7" style="margin-top: 8px;">
                                <%if (item.link != '') {%>
                                    <a href="<%-item.link%>" onclick='tracking("<%-item.sn%>", "Download")'>
                                        <h6 class="ellipsis blue-text sn">Download</h6>
                                    </a>
                                <%}else{%>
                                    <h6 class="ellipsis grey-text sn">&ensp;</h6>
                                <%}%>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <%})%>
    </div>
</div>