<!-- Search -->
<div id="search.html" class="section teal darken-1 white-text center">
    <div class="container">

        <div class="input-field">
            <input type="text" class="white grey-text autocomplete" autocomplete="off" id="search-input"
                placeholder="Tìm kiếm" style="text-indent: 25px">
            <label class="label-icon" for="search-input">
                <i class="material-icons teal-text">search</i>
            </label>
            <i class="material-icons" style="cursor: pointer;" onclick="openCategory()">arrow_drop_down</i>
        </div>

        <ul class="collection" id="box-category" style="border: transparent">

            <% lstCate.forEach(function(item, index){%>
            <%if(index % 2 == 0){%>
            <div class="row">
                <div class="col s6">
                    <li class="collection-item teal item-click hoverable" data-href="<%-item.cate%>"
                        style="cursor: pointer;">
                        <%-item.cate%>
                    </li>
                </div>
                <%}else{%>
                <div class="col s6">
                    <li class="collection-item teal item-click hoverable" data-href="<%-item.scate%>"
                        style="cursor: pointer;">
                        <%-item.cate%>
                    </li>
                </div>
            </div>
            <%}%>
                        <%})%>
        </ul>
    </div>
</div>

<!-- Product -->
<div class="container margin-top">

    <div class="row">
        <div class="col s12 m12 l8">
            <!-- --- -->
            <div class="video-container">
                <iframe width="853" height="480" src="//www.youtube.com/embed/<%-id%>?rel=0" frameborder="0"
                    allowfullscreen></iframe>
            </div>

            <!-- <div class="video-container hide-on-med-and-down" style="margin-top: 3rem">
                <iframe width="853" height="480" src="//www.youtube.com/embed/<%-id%>?rel=0" frameborder="0"
                    allowfullscreen></iframe>
            </div> -->
            <!-- --- -->
        </div>

        <div class="col s12 m12 l4">

            <% lstProduct.forEach(function(item, index){%>


            <div class="row">
                <div class="col s6">
                    <div class="card-image containers">
                        <img class="image lazy responsive-img"
                            data-original="https://img.youtube.com/vi/<%-item.sn%>/maxresdefault.jpg">
                        <div class="overlay">
                            <a href="/detail/?sn=<%-item.sn%>" class="icon">
                                <i class="medium material-icons">play_circle_filled</i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <a href="/detail/?sn=<%-item.sn%>">
                        <div class="card-content">
                            <h6 class="ellipsis black-text"><%-item.name%></h6>
                            <div class="row">
                                <div class="col s8" style="margin-top: 1px">
                                    <h6 class="ellipsis grey-text">MS: <%-item.sn%></h6>
                                </div>
                                <%if (item.price > 0) {%>
                                <div class="col s4">
                                    <h5 class="ellipsis blue-text"><%-item.price%>K</h5>
                                </div>
                                <%}%>
                                        </div>
                                </div>
                            </a>
                        </div>
                    </div>


            <%})%>


                            </div>
                        </div>
                </div>