<!-- Section: Bought -->
<section id="support-bought.html" class="section">
    <div class="row" style="margin-left: 20px; margin-right: 20px;">

        <!-- EDITOR -->
        <div class="file-field">
            <p class="blue-text">Hướng dẫn mua hàng</p>
            <textarea id="editor-bought" name="editor"><%-support.ProductForm[0].bought%></textarea>
        </div>
        <span style="margin-top: 10px;" id="btn-support-bought" class="btn gone">Lưu</span>

    </div>

    </div>
</section>

<!-- Section: Delivery -->
<section id="support-delivery.html" class="section">
    <div class="row" style="margin-left: 20px; margin-right: 20px;">

        <!-- EDITOR -->
        <div class="file-field">
            <p class="blue-text">Chính sách giao hàng</p>
            <textarea id="editor-delivery" name="editor"><%-support.ProductForm[0].delivery%></textarea>
        </div>
        <span style="margin-top: 10px;" id="btn-support-delivery" class="btn gone">Lưu</span>

    </div>

    </div>
</section>

<!-- Section: Return -->
<section id="support-return.html" class="section">
    <div class="row" style="margin-left: 20px; margin-right: 20px;">

        <!-- EDITOR -->
        <div class="file-field">
            <p class="blue-text">Chính sách đổi trả</p>
            <textarea id="editor-return" name="editor"><%-support.ProductForm[0].returns%></textarea>
        </div>
        <span style="margin-top: 10px;" id="btn-support-return" class="btn gone">Lưu</span>

    </div>

    </div>
</section>

<!-- Section: warranty -->
<section id="support-warranty.html" class="section">
    <div class="row" style="margin-left: 20px; margin-right: 20px;">

        <!-- EDITOR -->
        <div class="file-field">
            <p class="blue-text">Chính sách bảo hành</p>
            <textarea id="editor-warranty" name="editor"><%-support.ProductForm[0].warranty%></textarea>
        </div>
        <span style="margin-top: 10px;" id="btn-support-warranty" class="btn gone">Lưu</span>

    </div>

    </div>
</section>

<!-- Section: Contact -->
<section id="support-contact.html" class="section">
    <div class="row" style="margin-left: 20px; margin-right: 20px;">

        <!-- EDITOR -->
        <div class="file-field">
            <p class="blue-text">Liên hệ</p>
            <textarea id="editor-contact" name="editor"><%-support.ProductForm[0].contact%></textarea>
        </div>
        <span style="margin-top: 10px;" id="btn-support-contact" class="btn gone">Lưu</span>

    </div>

    </div>
</section>