<script src="ckeditor/ckeditor.js"></script>
<script>CKEDITOR.replace('editor')</script>

<script>
    const sideNav = document.querySelector('.sidenav');
    M.Sidenav.init(sideNav, {});

    //Side Menu
    $("#drop-product").addClass("active");
    //Side Menu
    $('.item-edit-product').css("background-color", "#80cbc4");
</script>

<!-- PRODUCT -->
<script>

    var product = {
        productId: '<%-product.ProductForm.productId%>',
        productSn: "",
        productName: "",
        productDescription: "",
        categoryId: "",
        promotionId: "",
        voucherId: "",
        flashsaleId: "",
        pointId: "",
        shipId: ""
    }

    $('.gone').hide();
    //Nickname
    $(".disable").attr("disabled", true);

    //ProductSn Change
    $('#product-sn').on('input', function (e) {
        var s = $('#product-sn').val();
        if (s !== "") {
            $('#btn-product-sn').show();
        } else {
            $('#btn-product-sn').hide();
        }
    });
    $('#btn-product-sn').on('click', function () {
        var sn = $('#product-sn').val();
        $('#btn-product-sn').hide();
        product.productSn = sn;
        updateProduct(product);
    });

    //ProductName Change
    $('#product-name').on('input', function (e) {
        var s = $('#product-name').val();
        if (s !== "") {
            $('#btn-product-name').show();
        } else {
            $('#btn-product-name').hide();
        }
    });
    $('#btn-product-name').on('click', function () {
        var name = $('#product-name').val();
        $('#btn-product-name').hide();
        product.productName = name;
        updateProduct(product);
    });

    //ProductDescription Change
    CKEDITOR.instances['editor'].on('change', function (e) {
        var s = CKEDITOR.instances['editor'].getData();
        if (s !== "") {
            $('#btn-product-description').show();
        } else {
            $('#btn-product-description').hide();
        }
    });
    $('#btn-product-description').on('click', function () {
        var description = CKEDITOR.instances['editor'].getData();
        if(description.indexOf("<img") > -1) {
            description = description.replace(/<img/g, '<img class="responsive-img"');
        }

        if(description.indexOf("<iframe") > -1) {
            description = description.replace(/<iframe/g, '<div class="video-container"><iframe');
            description = description.replace(/scrolling="no"/g, 'allowfullscreen');
            description = description.replace(/iframe>/g, 'iframe></div>');
        }

        $('#btn-product-description').hide();
        product.productDescription = description;
        updateProduct(product);
    });

    //Category
    $('#cb-category').on('change', function () {
        $('#btn-category-save').show();
    })
    $('#btn-category-save').on('click', function () {
        var categoryId = $('#cb-category option:selected').val();
        $('#btn-category-save').hide();
        var category = '<%-discount.Category%>';
        product.categoryId = categoryId;
        updateProduct(product);
    });

    //Promotion
    $('#cb-promotion').on('change', function () {
        $('#btn-promotion-save').show();
    })
    $('#btn-promotion-save').on('click', function () {
        var promotionId = $('#cb-promotion option:selected').val();
        $('#btn-promotion-save').hide();
        product.productId = promotionId;
        updateProduct(product);
    });

    //Flashsale
    $('#cb-flashsale').on('change', function () {
        $('#btn-flashsale-save').show();
    })
    $('#btn-flashsale-save').on('click', function () {
        var flashsaleId = $('#cb-flashsale option:selected').val();
        $('#btn-flashsale-save').hide();
        product.flashsaleId = flashsaleId;
        updateProduct(product);
    });

    //Point
    $('#cb-point').on('change', function () {
        $('#btn-point-save').show();
    })
    $('#btn-point-save').on('click', function () {
        var pointId = $('#cb-point option:selected').val();
        $('#btn-point-save').hide();
        product.pointId = pointId;
        updateProduct(product);
    });

    //Voucher
    $('#cb-voucher').on('change', function () {
        $('#btn-voucher-save').show();
    })
    $('#btn-voucher-save').on('click', function () {
        var voucherId = $('#cb-voucher option:selected').val();
        $('#btn-voucher-save').hide();
        product.voucherId = voucherId;
        updateProduct(product);
    });

    //Ship
    $('#cb-ship').on('change', function () {
        $('#btn-ship-save').show();
    })
    $('#btn-ship-save').on('click', function () {
        var shipId = $('#cb-ship option:selected').val();
        $('#btn-ship-save').hide();
        product.shipId = shipId;
        updateProduct(product);
    });

    //Update Product
    function updateProduct(product) {
        $.ajax({
            method: "PUT",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "admin/product/update-product.html",
            data: product,
            success: function success(data) {
                var result = "";
                $.each(data, function (i, value) {
                    result = value.update;
                });
                if (result == 1) {
                    alert("Cập nhật thành công.");
                } else {
                    alert("Cập nhật thất bại.");
                }

                //Clear data
                product.productSn = "";
                product.productName = "";
                product.productDescription = "";
                product.categoryId = "";
                product.promotionId = "";
                product.voucherId = "";
                product.flashsaleId = "";
                product.pointId = "";
                product.shipId = "";

            }
        });
    }

</script>

<!-- VIDEO -->
<script>
    //Video1
    $('#product-video1').on('input', function (e) {
        var s = $('#product-video1').val();
        if (s !== "") {
            $('#btn-video1-save').show();
        } else {
            $('#btn-video1-save').hide();
        }
    });
    $('#btn-video1-save').on('click', function () {
        var video1 = $('#product-video1').val();
        $('#btn-video1-save').hide();
        updateVideo(video1, 1);
    });

    //Video2
    $('#product-video2').on('input', function (e) {
        var s = $('#product-video2').val();
        if (s !== "") {
            $('#btn-video2-save').show();
        } else {
            $('#btn-video2-save').hide();
        }
    });
    $('#btn-video2-save').on('click', function () {
        var video2 = $('#product-video2').val();
        $('#btn-video2-save').hide();
        updateVideo(video2, 2);
    });

    //Video3
    $('#product-video3').on('input', function (e) {
        var s = $('#product-video3').val();
        if (s !== "") {
            $('#btn-video3-save').show();
        } else {
            $('#btn-video3-save').hide();
        }
    });
    $('#btn-video3-save').on('click', function () {
        var video3 = $('#product-video3').val();
        $('#btn-video3-save').hide();
        updateVideo(video3, 3);
    });

    function updateVideo(id, p) {
        $.ajax({
            method: "PUT",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "admin/product/update-video.html",
            data: {
                productId: '<%-product.ProductForm.productId%>',
                idVideo: id,
                position: p
            },
            success: function success(data) {
                var result = "";
                $.each(data, function (i, value) {
                    result = value.update;
                });
                if (result == 1) {
                    alert("Cập nhật thành công.");
                } else {
                    alert("Cập nhật thất bại.");
                }

            }
        });
    }
</script>

<!-- PICTURE -->
<script>
    // Picture 1
    $('#input-image1').on('change', function () {
        $('#btn-image1-save').show();
    })
    $('#btn-image1-save').on('click', function () {
        $('#btn-image1-save').hide();
        var form_data = new FormData();
        form_data.append('file', $('#input-image1').prop('files')[0]);
        updateImage(form_data, 1);
    });
    //Delete Image
    $('#btn-delete1').on('click', function () {
        $('.image1').hide();
        $('.input-image1').show();
        var filename = '<%-product.ProductForm.image1%>';
        deleteImage(filename, 1);
    });

    // Picture 2
    $('#input-image2').on('change', function () {
        $('#btn-image2-save').show();
    })
    $('#btn-image2-save').on('click', function () {
        $('#btn-image2-save').hide();
        var form_data = new FormData();
        form_data.append('file', $('#input-image2').prop('files')[0]);
        updateImage(form_data, 2);
    });
    //Delete Image
    $('#btn-delete2').on('click', function () {
        $('.image2').hide();
        $('.input-image2').show();
        var filename = '<%-product.ProductForm.image2%>';
        deleteImage(filename, 2);
    });

    // Picture 3
    $('#input-image3').on('change', function () {
        $('#btn-image3-save').show();
    })
    $('#btn-image3-save').on('click', function () {
        $('#btn-image3-save').hide();
        var form_data = new FormData();
        form_data.append('file', $('#input-image3').prop('files')[0]);
        updateImage(form_data, 3);
    });
    //Delete Image
    $('#btn-delete3').on('click', function () {
        $('.image3').hide();
        $('.input-image3').show();
        var filename = '<%-product.ProductForm.image3%>';
        deleteImage(filename, 3);
    });

    // Picture 4
    $('#input-image4').on('change', function () {
        $('#btn-image4-save').show();
    })
    $('#btn-image4-save').on('click', function () {
        $('#btn-image4-save').hide();
        var form_data = new FormData();
        form_data.append('file', $('#input-image4').prop('files')[0]);
        updateImage(form_data, 4);
    });
    //Delete Image
    $('#btn-delete4').on('click', function () {
        $('.image4').hide();
        $('.input-image4').show();
        var filename = '<%-product.ProductForm.image4%>';
        deleteImage(filename, 4);
    });

    // Picture 5
    $('#input-image5').on('change', function () {
        $('#btn-image5-save').show();
    })
    $('#btn-image5-save').on('click', function () {
        $('#btn-image5-save').hide();
        var form_data = new FormData();
        form_data.append('file', $('#input-image5').prop('files')[0]);
        updateImage(form_data, 5);
    });
    //Delete Image
    $('#btn-delete5').on('click', function () {
        $('.image5').hide();
        $('.input-image5').show();
        var filename = '<%-product.ProductForm.image5%>';
        deleteImage(filename, 5);
    });

    function deleteImage(filename, p) {
        $.ajax({
            method: "DELETE",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "admin/product/delete-image.html",
            data: {
                productId: '<%-product.ProductForm.productId%>',
                imageName: filename,
                position: p
            },
            success: function success(data) {
                var result = "";
                $.each(data, function (i, value) {
                    result = value.update;
                });
                if (result == 1) {
                    alert("Xoá file thành công.");
                } else {
                    alert("Xoá file thất bại.");
                }
            }
        });
    }

    function updateImage(image, p) {
        $.ajax({
            method: "PUT",
            dataType: "json",
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "admin/product/update-image.html",
            data: image,
            success: function success(data) {

                if (data.length > 0) {
                    var filename = data[0].filename;
                    updateImageData(filename, p);
                } else {
                    alert("Cập nhật thất bại.");
                }
            }
        });
    }

    function updateImageData(filename, p) {
        $.ajax({
            method: "PUT",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "admin/product/update-image-data.html",
            data: {
                productId: '<%-product.ProductForm.productId%>',
                imageName: filename,
                position: p
            },
            success: function success(data) {
                var result = "";
                $.each(data, function (i, value) {
                    result = value.update;
                });
                if (result == 1) {
                    alert("Cập nhật thành công.");

                    $('.image' + p).show();
                    $('#image' + p).attr('src', 'upload/' + filename);
                    $('.input-image' + p).hide();

                } else {
                    alert("Cập nhật thất bại.");
                }
            }
        });
    }
</script>

<!-- PRICE -->
<script>
    var price = {
        productId: '<%-product.ProductForm.productId%>',
        priceBuy: "",
        priceSell: ""
    }

    //PriceBuy Change
    $('#product-price-buy').on('input', function (e) {
        var s = $('#product-price-buy').val();
        if (s !== "") {
            $('#btn-product-price-buy').show();
        } else {
            $('#btn-product-price-buy').hide();
        }
    });
    $('#btn-product-price-buy').on('click', function () {
        var buy = $('#product-price-buy').val();
        $('#btn-product-price-buy').hide();
        price.priceBuy = buy
        updatePrice(price);
    });

    //PriceSell Change
    $('#product-price-sell').on('input', function (e) {
        var s = $('#product-price-sell').val();
        if (s !== "") {
            $('#btn-product-price-sell').show();
        } else {
            $('#btn-product-price-sell').hide();
        }
    });
    $('#btn-product-price-sell').on('click', function () {
        var sell = $('#product-price-sell').val();
        price.priceSell = sell;
        updatePrice(price);
    });

    function updatePrice(price) {
        $.ajax({
            method: "PUT",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "admin/product/update-price.html",
            data: price,
            success: function success(data) {
                var result = "";
                $.each(data, function (i, value) {
                    result = value.update;
                });
                if (result == 1) {
                    alert("Cập nhật thành công.");
                } else {
                    alert("Cập nhật thất bại.");
                }

                price.priceBuy = "";
                price.priceSell = "";
            }
        });
    }
</script>

<!-- AMOUNT -->
<script>
    amount = {
        productId: '<%-product.ProductForm.productId%>',
        amountBuy: "",
        amountSell: ""
    }
    //AmountBuy Change
    $('#product-amount-buy').on('input', function (e) {
        var s = $('#product-amount-buy').val();
        if (s !== "") {
            $('#btn-product-amount-buy').show();
        } else {
            $('#btn-product-amount-buy').hide();
        }
    });
    $('#btn-product-amount-buy').on('click', function () {
        var buy = $('#product-amount-buy').val();
        $('#btn-product-amount-buy').hide();
        amount.amountBuy = buy;
        updateAmount(amount);
    });

    //AmountSell Change
    $('#product-amount-sell').on('input', function (e) {
        var s = $('#product-amount-sell').val();
        if (s !== "") {
            $('#btn-product-amount-sell').show();
        } else {
            $('#btn-product-amount-sell').hide();
        }
    });
    $('#btn-product-amount-sell').on('click', function () {
        var sell = $('#product-amount-sell').val();
        $('#btn-product-amount-sell').hide();
        amount.amountSell = sell;
        updateAmount(amount);
    });

    function updateAmount(amount) {
        $.ajax({
            method: "PUT",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "admin/product/update-amount.html",
            data: amount,
            success: function success(data) {
                var result = "";
                $.each(data, function (i, value) {
                    result = value.update;
                });
                if (result == 1) {
                    alert("Cập nhật thành công.");
                } else {
                    alert("Cập nhật thất bại.");
                }

                //Clear data
                amount.amountBuy = "";
                amount.amountSell = "";

            }
        });
    }
</script>