<!-- Section: Service -->
<section id="service.html" class="section">
    <div class="row">

        <table class="highlight centered flow-text" id="table-service">
            <thead>
                <tr>
                    <th style="font-size: 1.1rem">ID</th>
                    <th style="font-size: 1.1rem">Tiêu đề</th>
                    <th style="font-size: 1.1rem">Mô tả</th>
                    <th style="font-size: 1.1rem">Nội dung</th>
                    <th style="font-size: 1.1rem">Hình ảnh</th>
                    <th style="font-size: 1.1rem">Nguồn</th>
                    <th style="font-size: 1.1rem">Active</th>

                    <th></th>
                </tr>
            </thead>

            <tbody>
                <%blog.ProductForm.forEach(function(item, index){%>
                    <tr style="font-size: 1.1rem">

                        <!-- ID -->
                        <td>
                            <a href="admin/blog/edit-blog/id:<%-item.blogId%>.html" style="cursor: pointer;">
                                <%-item.blogId%>
                            </a>
                        </td>

                        <!-- Title -->
                        <td>
                            <a href="admin/blog/edit-blog/id:<%-item.blogId%>.html" class="underline-on-hover black-text">
                                <%-item.blogTitle.substring(0, 50)%>
                            </a>
                        </td>

                        <!-- Description -->
                        <td>
                            <a href="admin/blog/edit-blog/id:<%-item.blogId%>.html" class="underline-on-hover black-text">
                                <%-item.blogDescription.substring(0, 50)%>
                            </a>
                        </td>

                        <!-- Content -->
                        <td>
                            <a href="admin/blog/edit-blog/id:<%-item.blogId%>.html" class="underline-on-hover black-text">
                                <%-item.blogContent.substring(0, 50)%>
                            </a>
                        </td>

                        <!-- Image -->
                        <td>
                            <a href="admin/blog/edit-blog/id:<%-item.blogId%>.html" class="underline-on-hover black-text">
                                <img src="upload/<%-item.blogImage%>" width="50px">
                            </a>
                        </td>

                        <!-- Source -->
                        <td>
                            <a href="admin/blog/edit-blog/id:<%-item.blogId%>.html" class="underline-on-hover black-text">
                                <%-item.source%>
                            </a>
                        </td>

                        <!-- Active -->
                        <td>
                            <%if(item.active ==0 ){%>
                                <span class="red-text underline-on-hover btn-active btn-active<%-item.blogId%>" data-href="<%-item.blogId%>">Ẩn
                                    <%}else{%>
                                        <span class="blue-text underline-on-hover btn-active btn-active<%-item.blogId%>" data-href="<%-item.blogId%>">Hiện
                                            <%}%>
                                        </span>
                        </td>
                    </tr>
                    <%})%>
            </tbody>

        </table>

    </div>
</section>