<!-- Section: Raiting Answer -->
<section id="raiting-answer.html" class="section">
    <div class="row" style="margin: 10px;">
        <div class="card-panel">
            <table class="highlight centered flow-text">
                <thead>
                    <tr>
                        <th style="font-size: 1.1rem">ID</th>
                        <th style="font-size: 1.1rem">Mã sản phẩm</th>
                        <th style="font-size: 1.1rem">Tên sản phẩm</th>
                        <th style="font-size: 1.1rem">Hình anh</th>
                        <th style="font-size: 1.1rem">SL</th>
                        <th style="font-size: 1.1rem">Giá</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr style="font-size: 1rem">
                        <td>
                            <%-comment.ProductForm[0].id%>
                        </td>
                        <td>
                            <%-comment.ProductForm[0].productId%> -
                                <%-comment.ProductForm[0].productSn%>
                        </td>
                        <td>
                            <%-comment.ProductForm[0].productName%>
                        </td>
                        <td>
                            <img src="upload/<%-comment.ProductForm[0].image1%>" height="60px;">
                        </td>
                        <td>
                            <%-comment.ProductForm[0].amountBuy%> -
                                <%-comment.ProductForm[0].amountSell%>
                        </td>
                        <td>
                            <%-comment.ProductForm[0].sell%>
                        </td>
                    </tr>
                </tbody>

            </table>

        </div>

        <div class="card-panel">
            <ul class="collection" style="border: 0px;">
                <li class="collection-item avatar">
                    <img class="circle" width="60" height="60" avatar="<%-comment.ProductForm[0].nickname%>">
                    <span class="title" style="font-weight: bold;">
                        <%-comment.ProductForm[0].nickname%>
                    </span>
                    <p>
                        <%-comment.ProductForm[0].commentQuestion%>
                            <p class="grey-text" style="text-align: right">
                                <%-comment.ProductForm[0].date.getDate()%>-
                                    <%-comment.ProductForm[0].date.getMonth() + 1%>-
                                        <%-comment.ProductForm[0].date.getFullYear()%>
                            </p>
                    </p>
                </li>
            </ul>

        </div>

        <div class="card-panel">
            <div class="input-field" style="display:table; margin-bottom: -10px">
                <input id="raiting-answer" type="text" class="validate">
                <label for="rate-content" class="">Trả lời</label>
                <span style="display: table-cell; width: 1%;">
                    <p id="btn-new-raiting" class="btn">Gửi</p>
                </span>
            </div>
        </div>
    </div>
</section>